*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#0f172a;
    color:white;
    line-height:1.6;
}

/* HERO */
.hero{
    text-align:center;
    padding:70px 20px;
    background:linear-gradient(135deg,#0ea5e9,#22c55e);
}

.hero span{
    color:#111827;
}

.profile-img{
    width:160px;
    height:160px;
    border-radius:50%;
    object-fit:cover;
    border:5px solid white;
    margin-bottom:20px;
    transition:0.4s;
}

.profile-img:hover{
    transform:scale(1.1) rotate(5deg);
}

/* BUTTONS */
.btn{
    padding:12px 22px;
    border:none;
    border-radius:25px;
    margin:10px;
    cursor:pointer;
    font-weight:600;
    transition:0.3s;
}

.primary{
    background:#111827;
    color:white;
}

.secondary{
    background:white;
    color:#111827;
}

.btn:hover{
    transform:translateY(-3px);
    box-shadow:0 8px 20px rgba(0,0,0,0.3);
}

/* CARD SECTION */
.card{
    max-width:900px;
    margin:40px auto;
    background:#1e293b;
    padding:30px;
    border-radius:15px;
    box-shadow:0 10px 25px rgba(0,0,0,0.3);
    transition:0.3s;
}

.card:hover{
    transform:translateY(-5px);
}

/* SKILLS */
.skills{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
    justify-content:center;
}

.skills span{
    background:#0ea5e9;
    padding:8px 14px;
    border-radius:20px;
    font-size:14px;
    transition:0.3s;
}

.skills span:hover{
    background:#22c55e;
    transform:scale(1.1);
}

/* PROJECTS */
.projects{
    display:flex;
    flex-wrap:wrap;
    gap:20px;
    justify-content:center;
}

.project-box{
    background:#0f172a;
    padding:20px;
    border-radius:12px;
    width:250px;
    transition:0.3s;
}

.project-box:hover{
    transform:translateY(-8px) scale(1.03);
    background:#0ea5e9;
}

/* FOOTER */
footer{
    text-align:center;
    padding:20px;
    background:#020617;
    margin-top:40px;
}